<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_position</key>
	<integer>7</integer>
	<key>Battery_state</key>
	<false/>
	<key>Bluetooth_position</key>
	<integer>6</integer>
	<key>Bluetooth_state</key>
	<false/>
	<key>CPU_barChart_position</key>
	<integer>4</integer>
	<key>CPU_hyperhreading</key>
	<false/>
	<key>CPU_label_position</key>
	<integer>5</integer>
	<key>CPU_lineChart_position</key>
	<integer>1</integer>
	<key>CPU_line_chart_box</key>
	<false/>
	<key>CPU_line_chart_color</key>
	<string>monochrome</string>
	<key>CPU_mini_alignment</key>
	<string>right</string>
	<key>CPU_mini_position</key>
	<integer>0</integer>
	<key>CPU_pieChart_position</key>
	<integer>3</integer>
	<key>CPU_position</key>
	<integer>1</integer>
	<key>CPU_splitValue</key>
	<false/>
	<key>CPU_tachometer_position</key>
	<integer>2</integer>
	<key>CPU_updateInterval</key>
	<integer>5</integer>
	<key>CPU_updateTopInterval</key>
	<integer>5</integer>
	<key>CPU_usagePerCore</key>
	<false/>
	<key>CPU_widget</key>
	<string>mini</string>
	<key>Clock_position</key>
	<integer>8</integer>
	<key>CombinedModules</key>
	<true/>
	<key>Disk_position</key>
	<integer>5</integer>
	<key>Disk_state</key>
	<false/>
	<key>GPU_barChart_position</key>
	<integer>3</integer>
	<key>GPU_label_position</key>
	<integer>2</integer>
	<key>GPU_lineChart_position</key>
	<integer>0</integer>
	<key>GPU_line_chart_box</key>
	<false/>
	<key>GPU_line_chart_color</key>
	<string>monochrome</string>
	<key>GPU_line_chart_valueColor</key>
	<false/>
	<key>GPU_mini_position</key>
	<integer>1</integer>
	<key>GPU_position</key>
	<integer>3</integer>
	<key>GPU_state</key>
	<false/>
	<key>GPU_tachometer_position</key>
	<integer>4</integer>
	<key>GPU_widget</key>
	<string>line_chart</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>1505 939 430 163 0 0 3440 1415 </string>
	<key>Network_position</key>
	<integer>0</integer>
	<key>Network_publicIPRefreshInterval</key>
	<string>24</string>
	<key>Network_speed_icon</key>
	<string>arrows</string>
	<key>Network_speed_iconAlignment</key>
	<string>right</string>
	<key>Network_speed_monochrome</key>
	<true/>
	<key>RAM_barChart_position</key>
	<integer>3</integer>
	<key>RAM_label_position</key>
	<integer>2</integer>
	<key>RAM_lineChart_position</key>
	<integer>0</integer>
	<key>RAM_line_chart_box</key>
	<false/>
	<key>RAM_line_chart_color</key>
	<string>monochrome</string>
	<key>RAM_line_chart_frame</key>
	<false/>
	<key>RAM_memory_position</key>
	<integer>5</integer>
	<key>RAM_mini_position</key>
	<integer>1</integer>
	<key>RAM_pieChart_position</key>
	<integer>4</integer>
	<key>RAM_position</key>
	<integer>4</integer>
	<key>RAM_state</key>
	<false/>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_widget</key>
	<string>line_chart</string>
	<key>Sensors_barChart_position</key>
	<integer>3</integer>
	<key>Sensors_label_position</key>
	<integer>2</integer>
	<key>Sensors_mini_position</key>
	<integer>1</integer>
	<key>Sensors_position</key>
	<integer>2</integer>
	<key>Sensors_sensors_alignment</key>
	<string>right</string>
	<key>Sensors_sensors_monospacedFont</key>
	<false/>
	<key>Sensors_stack_position</key>
	<integer>0</integer>
	<key>Sensors_state</key>
	<true/>
	<key>Sensors_updateInterval</key>
	<integer>5</integer>
	<key>Sensors_widget</key>
	<string>sensors</string>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_Average CPU</key>
	<true/>
	<key>sensor_Average GPU</key>
	<false/>
	<key>sensor_F0Ac</key>
	<false/>
	<key>sensor_F1Ac</key>
	<false/>
	<key>sensor_Fastest fan</key>
	<false/>
	<key>sensor_Hottest CPU</key>
	<true/>
	<key>sensor_TB1T</key>
	<false/>
	<key>sensor_TB2T</key>
	<false/>
	<key>sensor_TH0x</key>
	<false/>
	<key>sensor_TW0P</key>
	<false/>
	<key>sensor_TaLP</key>
	<false/>
	<key>sensor_TaRF</key>
	<false/>
	<key>sensor_Total System Consumption</key>
	<false/>
	<key>sensor_Tp1h</key>
	<false/>
	<key>sensor_Tp1t</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1750171390</integer>
	<key>telemetry</key>
	<false/>
	<key>temperature_units</key>
	<string>system</string>
	<key>updater_check_ts</key>
	<integer>1750171127</integer>
	<key>version</key>
	<string>2.11.45</string>
</dict>
</plist>
